@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-blue-200: hsl(193, 38%, 86%);
  --color-green-300: hsl(150, 100%, 66%);

  --color-blue-600: hsl(217, 19%, 38%);
  --color-blue-900: hsl(217, 19%, 24%);
  --color-blue-950: hsl(218, 23%, 16%);

  --background-image-divider-mobile: url(images/pattern-divider-mobile.svg);
  --background-image-divider-desktop: url(images/pattern-divider-desktop.svg);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  background-color: var(--color-blue-950);
}
