@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);

  --color-red: hsl(0, 66%, 54%);

  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);

  --font-karla: "Karla", sans-serif;
}

@layer components {
  .inputs {
    @apply border border-grey-500 rounded-md p-2 cursor-pointer hover:border-green-600;
  }

  .error-msg {
    @apply text-red;
  }
}

body {
  @apply min-h-screen font-karla flex justify-center items-center bg-green-200 text-grey-900;
}
