@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/* ==========================
CSS Reset by Josh Comeau
============================= */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* ==========================
Main Styles
============================= */

:root {
  --orange-500: hsl(25, 97%, 53%);

  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);

  --fw-bold: 700;
}

#root {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background-color: var(--grey-950);
  color: var(--grey-500);
  padding: 1rem;
}

h1 {
  color: var(--white);
  text-align: left;
  width: 100%;
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}

h2 {
  color: var(--white);
  font-size: 1.5rem;
}

input[type="radio"],
input[type="submit"] {
  cursor: pointer;
}
