@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@theme {
  /* Primary Colours */
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);

  /* Rose Shades */
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);

  /* 400, 600, 700 */
  --font-red-hat: "Red Hat Text", sans-serif;
}

@layer base {
  body {
    @apply font-red-hat bg-rose-50 text-rose-900;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .inc-dec-btn {
    @apply flex items-center justify-center border border-rose-50 p-2 rounded-full hover:bg-rose-50;
  }

  .red-btn {
    @apply bg-red text-rose-50 p-4 rounded-full font-semibold w-full hover:bg-red-900;
  }
}

/* Scrollbar styles */
.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(146, 146, 146);
  border-radius: 10px;
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(126, 126, 126);
}

/* Firefox Scrollbar styles*/
@supports (scrollbar-color: rgb(146, 146, 146)) {
  .scrollbar {
    scrollbar-width: auto;
    scrollbar-color: rgb(146, 146, 146) transparent;
    cursor: pointer;
  }
}
