@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==========================
CSS Reset by Josh Comeau
============================= */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* ==========================
Main Styles
============================= */

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);

  --accent-blue: hsl(248, 32%, 49%);

  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);

  --fw-500: 500;
  --fw-bold: 600;
  --fw-xbold: 700;

  --border-radius: 10px;
}

body,
main,
section,
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-red);
  background-image: url(../images/bg-intro-mobile.png);
  background-position: center;
  min-height: 100vh;
  position: relative;
  color: white;
  padding: 5rem 2rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: var(--fw-xbold);
  line-height: 2.5rem;
}

@media only screen and (min-width: 1000px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
  }

  h1 {
    line-height: 3.5rem;
  }
}
